[submodule "kubernetes"]
	path = kubernetes
	url = git@github.com:t-unnamed-lab/kubernetes.git
[submodule "docker"]
	path = docker
	url = git@github.com:t-unnamed-lab/docker.git
[submodule "ci-cd"]
	path = ci-cd
	url = git@github.com:t-unnamed-lab/ci-cd.git
[submodule "bash"]
	path = bash
	url = git@github.com:t-unnamed-lab/bash.git
[submodule "ansible"]
	path = ansible
	url = git@github.com:t-unnamed-lab/ansible.git
[submodule "linux"]
	path = linux
	url = git@github.com:t-unnamed-lab/linux.git
